@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}
:root{
    --font-family: 'DM Sans', system-ui, -apple-system, Segoe UI, Roboto, Inter, Arial, sans-serif;
}
.logo-container {
    display: flex;
    align-items: center;
    padding: 29px 0 29px 40px;
}

header{
    display: flex;      
    justify-content: space-between; 
    align-items: center;
    padding: 20px 40px;
    position: sticky;
    top: 0;
    right: 0;   
    background-color: white;

}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}
.nav-container nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 80px;
    gap: 24px;
}

.nav-links{
    display: flex;
    justify-content: center;
    list-style: none;
    flex-direction: row;
    gap: 24px;
}

.nav-links a {
    display: inline-block;
    align-items: center;
    gap: 6px;
    height: 26px;
    color: #1d1e20;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;

}

.navigation-access-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.navigation-idiom{
    font-weight: 700;
    font-size: 14px;
    border: none;
}

.login-button {
    border: 1px solid black;
    padding: 11px 15px;
    border-radius: 7px;
    font-weight: 700;
    font-size: 14px;
}

.login-button:hover {
    border: 1px solid grey;
}
