
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --font-family: 'DM Sans', system-ui, -apple-system, Segoe UI, Roboto, Inter, Arial, sans-serif;
}

body{
    height: 500vh;
    font-family: var(--font-family);
    color: #1d1e20;
}

.logo-container {
    display: flex;
    align-items: center;
    padding: 29px 0 29px 40px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 80px;
    gap: 24px;
}

.nav-links{
    display: flex;
    list-style: none;
    flex-direction: row;
    gap: 24px;
}

.nav-links a {
    display: inline-block;
    align-items: center;
    gap: 6px;
    height: 26px;
    color: #1d1e20;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;

}


.nav-idioma {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #1d1e20;
    font-weight: 500;
}

.login-button {
    background-color: transparent;
    border: none;
    color: #1d1e20;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
}